<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RunningSuite">
	<listeners>
        <listener class-name="com.qa.selenium.listeners.TestNGListener" />        
    </listeners>
  <test name="Test">
  <packages>
			<package name="com.tests" />
		</packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
